#login
  %h1 {gcr}
  %p.instructions= @msg
  .highlight
    %form{:method => "post", :action => "/login"}
      %input.text{:type => "text", :name => "username"}
      %input.text{:type => "password", :name => "token"}
      %button{:type => "submit"} Login
      
      
       
         