<html>
  <head>
    <title>
      {gcr}
    </title>
    <link rel="stylesheet" type="text/css" href="../public/static/css/style.css">
    <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
    <script>
      $(document).ready(function() {
        alert("asdf");
      
      });
    </script>
  </head>
  <body>
    <div id="header">
      <h2>{gcr}</h2>
    </div>
    <div id="reviews-wrapper">
      <div class="message" style="text-align:center;">Please provide your email address:<input type="text" id="email" class="text small"><button class="small">Submit</button></div>
    <div id="pendingcount">You have 6 reviews pending. Get cracking!</div>

    <div class="reviews">
    <table class="text">
      <tr>
        <th>
          Repos you own under review
        </th>
      </tr>
      <tr>
        <td class="last">
          aasfadsf
        </td>
      </tr>
    </table>
    </div>
    <div class="reviews">
    <table class="text">
      <tr>
        <th>
          Your pending reviews <span class="small">&nbsp;&raquo;&nbsp;do these</span>
        </th>
      </tr>
      <tr>
        <td class="last">
          <a href="asdf">aasfadsf</a>
        </td>
      </tr>
    </table>
    </div>
    <div style="clear:both;"></div>
    <div class="reviews">
    <table class="text">
      <tr>
        <th>
          Repos you own <em>not</em> under review <span class="small">&nbsp&raquo;&nbsp;click one to place it under review</span>
        </th>
      </tr>
      <tr>
        <td class="last">
          <a>aasfadsf</a>
        </td>
      </tr>
    </table>
    </div>
    <div class="reviews">
    <table class="text">
      <tr>
        <th>
          Your completed reviews
        </th>
      </tr>
      <tr>
        <td>
          <span class="completed-positive">aasfadsf</span>
        </td>
      </tr>
      <tr>
        <td class="last">
          <span class="completed-negative">zxcvzxcv</span>
        </td>
      </tr>
    </table>
    </div>
    <div style="clear:both;"></div>
    </div>
  </body>
</html>
